<footer>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/chaitanya-mogalla-811221301/" target="_blank"><img src="/assets/linkdin.webp" alt="linkdin"></a>
      <a href="https://twitter.com/ChaitanyaM1718" target="_blank"><img src="/assets/twitter.png" alt="gmail"></a>
      <a href="https://www.instagram.com/_m_chaitanya__?igsh=ZHNxeWxzNjkxYmgz" target="_blank"><img src="/assets/instagram.webp" alt="instagram"></a>
    </div>
    <div class="copyright">
      <span>&copy;</span> <span>2024</span> <span>Chitanya_M</span>. <span>All</span> <span>rights</span> <span>reserved.</span> <span>For</span> <span>inquiries</span>, <span>contact</span> <span>me</span> <span>at</span> <span><a href="mailto:mogallachaitanya@gmail.com">mogallachaitanya@gmail.com</span></a>.
    </div>
  </footer>
  <script src="/file.js"></script>
</body>
</html>