<%- include('partials/header') %>
  <div class="about-container">
    <h2>About</h2>
    <p>
      Welcome to my book search application!
      I leverage the Google Books API to provide you with the most comprehensive and up-to-date book information.
    </p>
    <p>
      Whether you're looking for the latest bestsellers, timeless classics, or hidden gems, this tool allows you to search by title, author, ISBN, or keywords.
    </p>
    <p>
      Feel free to explore and discover your next great read. Happy reading!
    </p>
    <div class="about_img"><img src="/assets/logo.png" id="about_img" alt=""></div>
  </div>

<%- include('partials/footer') %>
